body {
    margin: 0;
  }

.navbar{
    display: flex;
    background-color: blue;
    position: fixed;
    top: 0;
    width: 100%;
    font-size: 20px;
    z-index: 1;
   
  }
  .nav-right li{
    display: inline;
    float: left;
    padding-left: 15px;
  }
  .nav-right li a{
    display: block;
    padding: 8px;
    text-decoration: none;
    color: white;
  }
.nav-right{
    text-align: right;
    float: right;
  }
  .topnav a:hover {
    background-color: rgb(32, 25, 25);
    color: rgb(255, 255, 255);
  }

  a{
          text-decoration: none;
      }
      nav a :hover{
          background-color: black;
          color: white;
          zoom:130%;
      }
      ul{list-style-type: none;}
    .vertical-nav{
        padding-top: 10px;
    }
.body{
    padding-top: 30px;
    padding-left: 15px;
}
.body ul{
    list-style-type: none;
    width: 18%;
    background-color: cadetblue;
    position: fixed;
    height: auto;
    overflow: auto;
}
.all-books{
    display: flex;
    flex-direction: row;
    column-gap: 20px;
    flex-wrap: wrap;
    row-gap :10px;
    
}
.all-books img{
    height: 250px;
    width: 200px;
}
.main{
    margin-left: 280px;
}